# ---------------------
# PYTHON_VER is used for which version of Python to use. Check hub.docker.com for the available versions
# ---------------------
PYTHON_VER=3.9
NAUTOBOT_IMAGE=2.0.3

# Log config

NAUTOBOT_CHANGELOG_RETENTION=0
NAUTOBOT_LOG_LEVEL=WARNING

# UI 

NAUTOBOT_HIDE_RESTRICTED_UI=True
NAUTOBOT_MAX_PAGE_SIZE=0
NAUTOBOT_NAPALM_TIMEOUT=5


# Database settings for Nautobot
NAUTOBOT_DB_NAME=nautobot
NAUTOBOT_DB_PASSWORD=J5brHrAXFLQSif0K
NAUTOBOT_DB_USER=netbox
NAUTOBOT_DB_HOST=db
NAUTOBOT_DB_PORT=5432
NAUTOBOT_DB_ENGINE="django.db.backends.postgresql"

#Security improvements
NAUTOBOT_ALLOWED_HOSTS="localhost 127.0.0.1 192.168.0.170"
NAUTOBOT_CSRF_TRUSTED_ORIGINS="http://127.0.0.1:8080 http://192.168.0.170:8080"

# Collects metrics using Promettheus if is True, oso you can consume /metrics endpoint
METRICS_ENABLED=False

#NAUTOBOT_REDIS_CACHE_URL="redis://:H733Kdjndks81@redis:6379/1"
# NAUTOBOT REDIS SETTINGS
# When updating NAUTOBOT_REDIS_PASSWORD, make sure to update the password in
# the NAUTOBOT_CACHEOPS_REDIS line as well!
#
NAUTOBOT_REDIS_HOST=redis
NAUTOBOT_REDIS_PASSWORD=H733Kdjndks81
NAUTOBOT_CACHEOPS_REDIS=redis://:H733Kdjndks81@redis:6379/1
NAUTOBOT_REDIS_PORT=6379
# Uncomment REDIS_SSL if using SSL
# NAUTOBOT_REDIS_SSL=True

# Secret  key for encrypting data
NAUTOBOT_SECRET_KEY=012345678901234567890123456789012345678901234567890123456789

#For celery worker, beat and flower to connect to workers
NAUTOBOT_CELERY_BROKER_URL="redis://:H733Kdjndks81@redis:6379/0"

# Create superuser automatically
NAUTOBOT_CREATE_SUPERUSER=false
NAUTOBOT_SUPERUSER_NAME=admin
NAUTOBOT_SUPERUSER_EMAIL=admin@example.com
NAUTOBOT_SUPERUSER_PASSWORD=admin
NAUTOBOT_SUPERUSER_API_TOKEN=0123456789abcdef0123456789abcdef01234567


# Generic Django settings
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True
